html
    head
        title="CMS Project"
    body
        h1="Admin view"
        div
            ul
                each post,index in posts
                    ol
                        h2=index+' '+post.title
                            form(action="/post/delete/"+post._id, method="POST")
                                button(type="submit")="X"
                        br
                        p=post.body